@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #D9D9D9;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    border-bottom: 0.4px solid #FFFFFF;
    
}

.menu-nav {
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 32px;
}

.menu {
    color: black;

}

.main {
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

.titulo1 {
    font-family: "Inter", sans-serif;
    font-size: 40px;
    display: flex;
    margin-top: 35px;
}

.texto1  {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;

}