@import url(https://fonts.adobe.com/fonts/inter-tight-variable);
  



.img {

width: 250px;
border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

h1 {
    font-size: 64px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 { 
    font-size: 32px;
}

p {
    font-size: 32px;
    position: relative;
}
